
 .cube1{
  background-image: url("../assets/step_1.svg");  
  background-repeat: no-repeat;
  background-position: center;

  composes: cube1 from './home.module.css';
  z-index: 0;
}

.cube2{
  background-image: url("../assets/step_2.svg");
  background-repeat: no-repeat;
  background-position: center;

  composes: cube2 from './home.module.css';
  z-index: 0;
}

.cube3{
  background-image: url("../assets/step_3.svg");
  background-repeat: no-repeat;
  background-position: center;

  composes: cube3 from './home.module.css';
  z-index: 0;
}

.cube4{
  background-image: url("../assets/step_4.svg");
  background-repeat: no-repeat;
  background-position: center;

  composes: cube4 from './home.module.css';
  z-index: 0;
}

.cube5{
  background-image: url("../assets/step_5.svg");
  background-repeat: no-repeat;
  background-position: center;

  composes: cube5 from './home.module.css';
  z-index: 0;
}

.cube6{
  background-image: url("../assets/step_6.svg");
  background-repeat: no-repeat;
  background-position: center;

  composes: cube6 from './home.module.css';
  z-index: 0;
}

.cube7{
  background-image: url("../assets/step_7.svg");
  background-repeat: no-repeat;
  background-position: center;

  composes: cube7 from './home.module.css';
}

.back {
  color: #F72442;
  text-decoration: none;
  font-size: 16px;
  margin-left: 13rem;
}

.back::before {
  content: url(https://img.icons8.com/ios/35/ffffff/circled-left.png);
  padding: 44px;
}

.navigation {
  display: flex;
  flex-direction: column;
  float: right;
}

.scroll {
  composes: scroll from './home.module.css';
}

.inputField {
  font-size: 1rem;
  border: none;
  border-bottom: #F72442 0.2rem solid;
  background: black;
  color: #fff;
  width: 730px;
  z-index: 1;
}

.inputField::placeholder {
  color: #F72442;
}

.textField {
  font-size: 1rem;
  border: none;
  background: #1A1A1A;;
  color: white;
  width: 730px;
  height: 270px;
  z-index: 1;
}

.textField::placeholder {
  color: white;
}

.genreButtons {
  margin-top: 3rem;
  margin-bottom: 3rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

input[type="radio"] {
  display: none;

}

input[type="radio"] + span {
  border: 1px solid black;
  padding: 1rem;
  font-size: 18px;
}

input[type="radio"] + span:hover {
  border: 1px solid #F72442;
  padding: 1rem;
  {/*box-shadow: 0px 0px 40px 20px #F72442;*/}

}

.paragraph {
  width: 600px;
  padding-right: 5rem;
  margin-left: -20rem;
  z-index: 1;
}

.flex {
  composes: flex from "./home.module.css";
  height: 80vh;
}

.sub {
  composes: sub from "./layout.module.css";
}

.paragraphText {
  width: 735px;
  z-index: 1;
}

@media screen and (max-width: 1500px) {
.paragraph {
  width: 400px;
  margin-left: -70rem;
  margin-top: 15rem;
}
.inputField {
  width: 400px;
}
.textField {
  font-size: 1rem;
  width: 600px;
  margin-right: 300px;
}
.paragraphText {
  width: 650px;
  padding-right: 5rem;
  margin-left: -60rem;
  margin-top: 20rem;
}
.textField {
  width: 700px;
}
.back {
  margin-left: 6rem;
}

}
@media screen and (max-width: 1500px) {
.paragraph {
  width: 400px;
  margin-left: -42rem;
  margin-top: 15rem;
}
.paragraphText {
  width: 650px;
  padding-right: 5rem;
  margin-left: -40rem;
  margin-top: 20rem;
}
.textField{
  height: 150px;
}
}
/* @media screen and (max-width: 1024px) {
.paragraph {
  width: 400px;
  margin-left: -50rem;
  margin-top: 15rem;
}
.paragraphText {
  width: 650px;
  padding-right: 5rem;
  margin-left: -40rem;
  margin-top: 20rem;
}

} */

@media screen and (max-width: 800px) {
.paragraph {
  width: 350px;
  margin-left: -40rem;
}
.paragraphText {
  z-index: 1;
  width: 600px;
  margin-left: -20rem;
}
.textField{
  width: 600px;
}
}

@media screen and (max-width: 700px) {
.paragraphText {
  width: 500px;
  margin-left: -10rem;
  margin-top: 15rem;
}
.textField{
  width: 500px;
}
}

@media screen and (max-width: 600px) {
.paragraph {
  width: 350px;
  margin-left: -20rem;
}
.paragraphText {
  width: 400px;
  margin-left: -30rem;
  z-index: 1;
}
.textField{
  width: 400px;
}

}
@media screen and (max-width: 520px) {
.paragraph {
  width: 350px;
  margin-left: -20rem;
}
.inputField {
  width: 200px;
}
.paragraphText {
  width: 350px;
  margin-left: -20rem;
  z-index: 1;
}
.back {
  margin-left: 0rem;
}
}

@media screen and (max-width: 420px) {
.paragraph {
  margin-left: -12rem;
  width: 500px;
}
.paragraphText {
  width: 300px;
  margin-left: -14rem;
  z-index: 1;
  margin-top: 5rem;
}
.textField {
  width: 300px;
}

}

@media screen and (max-width: 320px) {
.paragraph {
  margin-left: -12rem;
  width: 500px;
}
.paragraphText {
  width: 240px;
  margin-left: -18em;
  z-index: 1;
  margin-top: 8rem;
}
.textField {
  width: 230px;
  height: 120px;
  margin-bottom: 0.5rem;
}
h2 {
  font-size: 1.5rem;
}

}
/* @media screen and (max-width: 430px) {
.paragraphText {
  width: 200px;
  margin-left: -12rem;
  z-index: 1;
  margin-top: 5rem;
}
.textField {
  width: 220px;
  height: 200px;
}

} */