h1 {
    font-weight: normal;
    font-size: 2.25rem;
    text-transform: uppercase;
  }
  h2 {
    font-weight: bold;
    font-size: 2.25rem;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: lighter;
  }
  
  p {
    font-size: 16px;
  }
  
  .language {
    font-weight: bold;
  }
  
  .scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .submit {
    color: white;
    font-weight: bold;
    background-color: #F72442;
    border: none;
    font-size: 1rem;
    padding: .5rem 1rem;
  }
  
  .submit:hover {
    color: #F72442;
    background-color: white;
    transition: 0.5s;
  }
  
  .inputField {
    font-size: 1rem;
    border: none;
    border-bottom: #F72442 0.2rem solid;
    background: none;
    color: #fff;
    width: 730px;
  }
  
  .inputField::placeholder {
    color: #F72442;
  }
  
  .textField {
    font-size: 1rem;
    border: none;
    background: #1A1A1A;;
    color: white;
    width: 730px;
    height: 270px;
  }
  
  .textField::placeholder {
    color: white;
  }
  
  .cube1{
    background-image: url("../assets/step_1.svg");  
    background-repeat: no-repeat;
    background-position: center;

    composes: cube1 from './home.module.css';
  }
  
  .cube2{
    background-image: url("../assets/step_2.svg");
    background-repeat: no-repeat;
    background-position: center;

    composes: cube2 from './home.module.css';
  }
  
  .cube3{
    background-image: url("../assets/step_3.svg");
    background-repeat: no-repeat;
    background-position: center;

    composes: cube3 from './home.module.css';
  }
  
  .cube4{
    background-image: url("../assets/step_4.svg");
    background-repeat: no-repeat;
    background-position: center;

    composes: cube4 from './home.module.css';
  }
  
  .cube5{
    background-image: url("../assets/step_5.svg");
    background-repeat: no-repeat;
    background-position: center;

    composes: cube5 from './home.module.css';
  }
  
  .cube6{
    background-image: url("../assets/step_6.svg");
    background-repeat: no-repeat;
    background-position: center;

    composes: cube6 from './home.module.css';
  }

  .flex {
    composes: flex from "./home.module.css";
  }

  .back {
      color: #F72442;
      text-decoration: none;
      font-size: 16px;
      margin-left: 13rem;
  }

  .back::before {
   content: url(https://img.icons8.com/ios/35/ffffff/circled-left.png);
   padding: 44px;
  }

  .paragraph {
    width: 600px;
    padding-right: 5rem;
    margin-left: -20rem;
  }

  .sub {
    composes: sub from "./layout.module.css";
}