body {
  font-size: 9px;
  color: #fff;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -5rem;
  height: 80vh;
}

.container {
  position: relative;
  width: 300px;
  height: 300px;
  transition: perspective 300ms ease;
}

.cube {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 300ms ease;
  transition-duration: 100ms;
}


.cube figure {
  position: absolute;
  margin: 0;
  height: 300px;
  width: 300px;
  display: block;
  transition: opacity 300ms;
  border: black solid 0.001rem;
  background: #fff;
  animation-name: color_change;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.light::after {
  background-image: url(./../assets/light.gif);
  background-size: 400px 400px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-top: -3rem;
  margin-left: -3rem;
  width: 50vw; 
  height: 50vh;
  content:"";
}

.cube figure:nth-of-type(1) {
  transform: translateZ(150px);
}
.cube figure:nth-of-type(2) {
  transform: rotateX(180deg) translateZ(150px);
}
.cube figure:nth-of-type(3) {
  transform: rotateY(-90deg) translateZ(150px);
}
.cube figure:nth-of-type(4) {
  transform: rotateY(90deg) translateZ(150px);
}
.cube figure:nth-of-type(5) {
  transform: rotateX(90deg) translateZ(150px);
}
.cube figure:nth-of-type(6) {
  transform: rotateX(-90deg) translateZ(150px);
}

@keyframes animateCube {
  0% {
    transform: translateZ(-150px) rotateX(-180deg) rotateY(-180deg);
  }
  100% {
    transform: translateZ(-150px) rotateX(180deg) rotateY(180deg);
  }
}

@media screen and (max-width: 1024px) {
  .cube figure {
      height: 250px;
      width: 250px;
      margin-left: 50px;
      margin-top: 50px;
    }
  .cube figure:nth-of-type(1) {
    transform: translateZ(125px);
  }
  .cube figure:nth-of-type(2) {
    transform: rotateX(180deg) translateZ(125px);
  }
  .cube figure:nth-of-type(3) {
    transform: rotateY(-90deg) translateZ(125px);
  }
  .cube figure:nth-of-type(4) {
    transform: rotateY(90deg) translateZ(125px);
  }
  .cube figure:nth-of-type(5) {
    transform: rotateX(90deg) translateZ(125px);
  }
  .cube figure:nth-of-type(6) {
    transform: rotateX(-90deg) translateZ(125px);
  }
  .light::after {
    background-image: url(./../assets/light.gif);
    background-size: 200px 200px;
    width: 40vw; 
    height: 40vh;
    margin-top: 2rem;
    margin-left: 3rem;
  }

}
@media screen and (max-width: 1024px) {
  .cube figure {
      height: 250px;
      width: 250px;
      margin-left: 50px;
      margin-top: 50px;
    }
  .cube figure:nth-of-type(1) {
    transform: translateZ(125px);
  }
  .cube figure:nth-of-type(2) {
    transform: rotateX(180deg) translateZ(125px);
  }
  .cube figure:nth-of-type(3) {
    transform: rotateY(-90deg) translateZ(125px);
  }
  .cube figure:nth-of-type(4) {
    transform: rotateY(90deg) translateZ(125px);
  }
  .cube figure:nth-of-type(5) {
    transform: rotateX(90deg) translateZ(125px);
  }
  .cube figure:nth-of-type(6) {
    transform: rotateX(-90deg) translateZ(125px);
  }
  .light::after {
    background-image: url(./../assets/light.gif);
    background-size: 300px 300px;
    width: 40vw; 
    height: 40vh;
    margin-top: 1.5rem;
    margin-left: 2rem;
  }

}
@media screen and (max-width: 400px) {
  .cube figure {
    height: 102px;
    width: 102px;
    margin-left: 95px;
    margin-top: 130px;
  }
.cube figure:nth-of-type(1) {
  transform: translateZ(50px);
}
.cube figure:nth-of-type(2) {
  transform: rotateX(180deg) translateZ(50px);
}
.cube figure:nth-of-type(3) {
  transform: rotateY(-90deg) translateZ(50px);
}
.cube figure:nth-of-type(4) {
  transform: rotateY(90deg) translateZ(50px);
}
.cube figure:nth-of-type(5) {
  transform: rotateX(90deg) translateZ(50px);
}
.cube figure:nth-of-type(6) {
  transform: rotateX(-90deg) translateZ(50px);
}
.light::after {
  background-image: url(./../assets/light.gif);
  background-size: 100px 100px;
  width: 40vw; 
  height: 40vh;
  margin-top: 8rem;
  margin-left: 6rem;
}
}
