h1 {
  font-weight: normal;
  font-size: 1rem;
  text-transform: uppercase;
}
h2 {
  font-weight: bold;
  font-size: 2.25rem;
}
h3 {
  font-size: 1.5rem;
  font-weight: lighter;
}

p {
  font-size: 16px;
}

.maintitle {
  margin-left: 5rem;
}

.language {
  font-weight: bold;
}

.scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navigation {
  font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #F72442;
    margin-top: 0.5rem;
    padding: .5rem 1rem;
    border: none;
    text-decoration: none;
    width: 200px;
    text-align: center;
    margin: 0rem;
}

.navigation:hover {
  color: #F72442;
  background-color: white;
  transition: 0.5s;
}

.nav {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

.inputField {
  font-size: 1rem;
  border: none;
  border-bottom: #F72442 0.2rem solid;
  background: none;
  color: #fff
}

.inputField::placeholder {
  color: #F72442;
}

.textField {
  font-size: 1rem;
  border: none;
  background: #1A1A1A;;
  color: white;
  width: 730px;
  height: 270px;
}

.textField::placeholder {
  color: white;
}

.cube1{
  background-image: url("../assets/step_1.svg");  
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  width:  650px;
}

.cube2{
  background-image: url("../assets/step_2.svg");
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  width:  650px;
  z-index: 0;
}

.click {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.img {
  margin-bottom: 3rem;
  margin-top: -2rem;
  background-color: black;
  
}

.cube3{
  background-image: url("../assets/step_3.svg");
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  width:  650px;
  z-index: 0;
}

.cube4{
  background-image: url("../assets/step_4.svg");
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  width:  650px;
  z-index: 0;
}

.cube5{
  background-image: url("../assets/step_5.svg");
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  width:  650px;
  z-index: 0;
}

.cube6{
  background-image: url("../assets/step_6.svg");
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  width:  650px;
  z-index: 0;
}

.paragraph {
  width: 600px;
  margin-left: -10rem;
  z-index: 1;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
  font-size: 50px;
  letter-spacing: 10px;
}
.slogan {
  display: flex;
  justify-content: center;
  margin-top: -20px;

}

.bold {
  font-weight: bold;
}


.sub {
  composes: sub from "./layout.module.css";
}


.inputField {
  font-size: 1rem;
  border: none;
  border-bottom: #F72442 0.2rem solid;
  background: none;
  color: #fff
}

.inputField::placeholder {
  color: #F72442;
}

.textField {
  font-size: 1rem;
  border: none;
  background: #1A1A1A;;
  color: white;
  width: 730px;
  height: 270px;
}

.textField::placeholder {
  color: white;
}

.cube1{
  background-image: url("../assets/step_1.svg");  
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  width:  650px;
}

.cube2{
  background-image: url("../assets/step_2.svg");
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width:  500px;
}

.cube3{
  background-image: url("../assets/step_3.svg");
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width:  500px;
}

.cube4{
  background-image: url("../assets/step_4.svg");
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width:  500px;
}

.cube5{
  background-image: url("../assets/step_5.svg");
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width:  500px;
}

.cube6{
  background-image: url("../assets/step_6.svg");
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width:  500px;
}

.cube7{
  background-image: url("../assets/step_7.svg");
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width:  500px;
}

.flex {
  display: flex;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bold {
  font-weight: bold;
}

.size {
  font-size: 24px;
}

.sub {
  composes: sub from "./layout.module.css";
}

.center {
  display: flex;
}


@media screen and (max-width: 1500px) {
  .paragraph {
    width: 600px;
    margin-left: -10rem;
    margin-right: 5rem;
  } 
  .cube1, .cube2, .cube3, .cube4, .cube5, .cube6, .cube7 {
    height: 300px;
    width:  300px;
    margin-top: -25rem;
    margin-bottom: 10rem;
    }
}

@media screen and (max-width: 1100px) {
  .paragraph {
    width: 600px;
    margin-left: -40rem;
    height:330px;
    margin-top: 10rem;
  } 
  .cube1, .cube2, .cube3, .cube4, .cube5, .cube6, .cube7 {
    margin-left: 15rem;
    margin-top: -25rem;
  }
}

@media screen and (max-width: 420px) {
  .paragraph {
  width: 400px;
  margin-left: -15rem;
  height:500px;
  margin-top: 12rem;

 
  } 
  .cube2, .cube3, .cube4, .cube5, .cube6, .cube7 {
    height: 120px;
    width: 120px;
    margin-left: 10rem;
    margin-top: -37rem;
  }
}

@media screen and (max-width: 800px) {
  .paragraph {
  margin-left: -25rem;
  margin-top: 12rem;
  } 
}
@media screen and (max-width: 320px) {
  .paragraph {
    width:400px;
    margin-left: -12rem;
    height:350px;
    margin-top: 8rem;
  } 
  .cube2, .cube3, .cube4, .cube5, .cube6, .cube7 {
    height: 120px;
    width: 120px;
    margin-left: 6rem;
    margin-top: -25rem;
  }
  .maintitle{
    font-size: 1.5rem;
    margin-left: 2rem;
    }

}
