#fp-nav ul li:hover a.active span,
#fp-nav ul li a.active span,
.fp-slidesNav ul li:hover a.active span,
.fp-slidesNav ul li a.active span {
  background-color: white;
}

#fp-nav ul li:hover a span,
#fp-nav ul li a span,
.fp-slidesNav ul li:hover a span,
.fp-slidesNav ul li a span {
  background-color: white;
}

ul {
  list-style-type: square;
}

.button {
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #F72442;
    margin-top: 0.5rem;
    padding: .5rem 1rem;
    border: none;
    text-decoration: none;
    width: 200px;
    text-align: center;
    margin-left: 1rem;
}
.button:hover {
  color: #F72442;
  background-color: white;
  transition: 0.5s;
}

.sub {
    color: #F72442;
    font-weight: bold;
    background: none;
    border:none;
    font-size: 16px;
    text-decoration: none;
    margin-top: 1rem;
}

@media screen and (max-width: 420px) {
  .button {
    font-size: 10px;
}
}
@media screen and (max-width: 320px) {
  .button {
    margin-left: 0rem;
    margin-top: 0rem;
    margin-right: 8rem;
    margin-bottom: 0.5rem;
    width: 130px;
    float: left;
    text-align: center;
}
.sub {
  color: #F72442;
  font-weight: bold;
  background: none;
  border:none;
  font-size: 12px;
  margin-top: 0.75rem;
}
}