body {
    background-color: black;
    display: flex;
    justify-content: center;
}

ul {
    padding: 0;
    text-align: left;
}

.container {
    width: 960px;
    text-align: right;
}

.sub {
    color: #F72442;
    font-weight: bold;
    background: none;
    border:none;
    font-size: 16px;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.template {
    background-color: #1A1A1A;
    margin-top: -1rem;
    padding: 1rem;
}

.heart {
    border: none;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    margin-right: .5rem
}

.votes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 16px;
}

.back {
    color: #F72442;
    text-decoration: none;
    font-size: 16px;
}

.back::before {
    content: url(https://img.icons8.com/ios/35/ffffff/circled-left.png);
    padding: 44px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}