body {
    background-color: black;
    display: flex;
    justify-content: center;
}

ul {
    padding: 0;
    text-align: left;
}

.container {
    width: 960px;
    text-align: right;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.template {
    background-color: #1A1A1A;
    margin-top: -1rem;
    padding: 1rem;
}

.heart {
    border: none;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    margin-right: .5rem
}

.votes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 16px;
}

.back {
    color: #F72442;
    text-decoration: none;
}

.back::before {
    content: url(https://img.icons8.com/ios/35/ffffff/circled-left.png);
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}


@media screen and (max-width: 1024px) {
    .container {
        width: 650px;
    }

}
@media screen and (max-width: 725px) {
    .container {
        width: 450px;
    }

}
@media screen and (max-width: 500px) {
    .container {
        width: 350px;
    }
}
@media screen and (max-width: 370px) {
    .container {
        width: 300px;
    }
}
@media screen and (max-width: 320px) {
    .container {
        width: 280px;
    }

}