@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
body {
  background: #222;
  font-family: "Roboto Mono", monospace;
  font-size: 9px;
  user-select: none;
  color: #e6e7e8;
  overflow: hidden;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.inputs {
  background: rgba(255, 255, 255, 0.03);
  padding: 10px;
  margin-top: 10px;
  border: 1px dashed #555;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}
.inputs.hide {
  transform: translateX(60%);
  opacity: 0;
  pointer-events: none;
}
.inputs > div {
  width: 100%;
  margin-bottom: 5px;
}
.inputs > div:last-of-type {
  margin: 0;
}
.inputs input {
  cursor: pointer;
}
.inputs input[type=range] {
  width: 110px;
}
.inputs label {
  cursor: pointer;
}
.inputs p {
  margin: 0;
}

button {
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
  -webkit-appearance: none;
  background: #e6e7e8;
  border: none;
  outline: none;
  font-size: 10px;
  padding: 5px 10px;
  color: #222;
  min-width: 100%;
  border-radius: 2px;
  transition: background 100ms;
}
button:hover {
  background: #ccc;
}
button:active {
  background: #aaa;
}

.panel {
  position: absolute;
  top: 10px;
  right: 10px;
}

.container {
  position: relative;
  width: 300px;
  height: 300px;
  transition: perspective 300ms ease;
}

.cube {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 300ms ease;
}
.cube.animated {
  transition-duration: 100ms;
}
.cube figure {
  position: absolute;
  margin: 0;
  height: 300px;
  width: 300px;
  background: #fff;
  display: block;
  transition: opacity 300ms;
}
.cube figure:nth-of-type(1) {
  background: #fff;
  transform: translateZ(150px);
}
.cube figure:nth-of-type(2) {
  background: #fff;
  transform: rotateX(180deg) translateZ(150px);
}
.cube figure:nth-of-type(3) {
  background: #593C8F;
  transform: rotateY(-90deg) translateZ(150px);
}
.cube figure:nth-of-type(4) {
  background: #593C8F;
  transform: rotateY(90deg) translateZ(150px);
}
.cube figure:nth-of-type(5) {
  background: #8EF9F3;
  transform: rotateX(90deg) translateZ(150px);
}
.cube figure:nth-of-type(6) {
  background: #8EF9F3;
  transform: rotateX(-90deg) translateZ(150px);
}

@keyframes animateCube {
  0% {
    transform: translateZ(-150px) rotateX(-180deg) rotateY(-180deg);
  }
  100% {
    transform: translateZ(-150px) rotateX(180deg) rotateY(180deg);
  }
}
